body {
    margin: 0 auto;
    width: 100vh;
}

.title {
    background-color: yellow;
}

.title th:first-child {
    background-color: red;
    color: black;
}

.title th:last-child {
    background-color: blue;
    color: black;
}

tr th,
td:first-child {
    color: red;
}

tr th,
td:last-child {
    color: blue;
}

sub {
    font-size: 10px;
}

td {
    border: 1px solid beige;
}

th,
td {
    text-align: center;
    padding: 5px 20px;
}
h1{
    color: blue;
    text-align: center;
}